body {
     margin: 0%;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 20px;
     margin-bottom: 10px;;
     text-align: center;
     color: rgb(45, 37, 0);
     border-bottom: 4px solid rgb(255, 111, 0);
     background-image: linear-gradient(to right,rgb(254, 191, 0), rgb(255, 220, 67));
}

main {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin-top: -10px;
     height: 670px;
     background-color: rgb(242, 255, 251);
}

#citySearch {
     align-content: flex-start;
     margin: 10px 0px 10px 0px;
}

#cityFound {
     width: auto;
}

.search {
     border-radius: 5px;
     border: 2px solid rgb(255, 111, 0);
     width: 30px;
     height:30px;
     margin: 10px 0px 10px 0px;
}

.search:hover {
opacity: .5;
cursor: pointer;
}

#searchBtn {
     border: none;
     background: transparent;
     margin: 0;
     padding: 0;
}

form {
     margin-bottom: 10px;
}

p {
     margin: 20px 0px 0px 0px;
}

.cityOfInterest {
     display: flex;
     flex-wrap: wrap;
     margin: 15px 0px 0px 0px;
     padding: 5px;
     border: 1px solid rgb(255, 111, 0);
     width: 205px;
     background-color: white;
}



.cityOfInterest:hover {
     background-image: linear-gradient(to right,rgb(3, 62, 2), rgb(89, 112, 92));
     color: rgb(255, 255, 255);
     cursor: pointer;
}

.cityOfInterest.active {
     background-image: linear-gradient(to right,rgb(3, 62, 2), rgb(89, 112, 92));
     color: white;
}

.container {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     height: 550px;

}

.left-column {
     display: flex;
     flex-direction: column;
     margin: 30px;
}

.right-column {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 30px 175px 20px 20px;
     width: auto;
}

#heading {
     font-size:larger;
     margin-left: 20px;
}

#cityDetails {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 10px 10px 30px 10px;
     padding: 20px;
     width: auto;
     height: auto;
     border-radius: 5px;
     order: 2px solid rgb(142, 18, 2);
}

#cityForecast {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: 10px;
     padding: 10px 10px 20px 10px;
     width: 800px;
     height: auto;
     border-radius: 5px;
     border: 2px solid rgb(142, 18, 2);
}


.middle-row {
     margin-left: 20px;
}


.column {
     flex: 1;
     text-align: center;
     background-color: rgb(69, 174, 255);
     border: 1px solid rgb(142, 18, 2);
     border-radius: 5px;
     padding: 15px;
     margin: 4px;
     height: 100%;
     width: fit-content;
     box-shadow: 3px 3px 5px gray;
}

.footer {
     display: flex;
     flex-direction: column;
     text-align: center;
     padding-bottom: 60px;
     font-size:x-large;
}
