body {
     margin: auto;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     width: 100%;
}

header {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding: 20px;
     margin-bottom: 10px;;
     text-align: center;
     color: rgb(45, 37, 0);
     border-bottom: 4px solid rgb(255, 111, 0);
     background-image: linear-gradient(to right,rgb(254, 191, 0), rgb(255, 220, 67));
     width: 100%;
}

main {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin-top: -10px;
     height: 100%;
     background-color: rgb(242, 255, 251);
     width: 100%;
}

#citySearch {
     align-content: flex-start;
     margin: 10px 0px 10px 0px;
}

#cityFound {
     width: auto;
}

#srchSvebtns {
     display: flex;
     justify-content: space-around;
}

.btns {
     border-radius: 5px;
     border: 2px solid rgb(255, 111, 0);
     width: 30px;
     height:30px;
     margin: 10px 0px 10px 0px;
}

#btns {
     border: none;
     background: transparent;
     margin: 0;
     padding: 0;
}

#btns:hover {
     opacity: .5;
     cursor: pointer;
     }

form {
     margin-bottom: 10px;
}

p {
     margin: 0px 0px 10px 0px;
}

.savedCityBtn {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-bottom: 10px;
     padding: 5px;
     border: 2px solid rgb(255, 111, 0);
     width: 205px;
     height: 35px;
     background-image: linear-gradient(to right,rgb(254, 191, 0), rgb(255, 220, 67));
}

.savedCityBtn:hover {
     background:  rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     cursor: pointer;
}


.container {
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     height: 100%;
     margin: 0px 50px 0px 50px;
}

.left-column {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 60px 30px 30px 30px;
     align-content: flex-start;
     align-items: center;
}

.right-column {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 60px 0px 20px 20px;
     align-content: flex-start;
     border-left: 2px solid black;
     padding-left: 20px;
}

h5 {
     line-height: 1;
}

.topMiddle-row {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-content: flex-start;
}

.columnLeft {
     flex-basis: 30%;
}

.columnRight {
     display: flex;
     flex-wrap: wrap;
     align-content: center;
     flex-basis: 70%;
     margin-left: 50px;
}

#cityDetails {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 0px 10px 0px 10px;
     padding: 0px;
     width: auto;
     height: auto;
     border-radius: 5px;
}

#currentIcon {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
}

#heading {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     margin: 0px 10px 0px 10px;
     padding: 0px;
     width: auto;
     height: auto;
     border-radius: 5px;
     order: 2px solid rgb(142, 18, 2);
}

#cityForecast {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: flex-start;
     align-content: flex-start;
     margin: 0px 0px 0px 8px;
     padding: 0px 40px 0px 0px;
     width: auto;
     height: auto;
     border-radius: 5px;
}

.middle-row {
     margin-left: 20px;
}

.column {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     flex: 1;
     background-color: rgb(69, 174, 255);
     border: 2px solid rgb(255, 111, 0);
     border-radius: 5px;
     padding: 15px;
     margin: 4px 4px 50px 4px;
     height: auto;
     width: 100%;
}

@media only screen and (max-width: 600px)  {
     .container {
          flex-direction: column;
     }
}